.btn {
  display: block;
  margin: 0 auto;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  border: none;
  background: #25eb6e;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  width: 10em;
}

.btn:disabled {
   background: #919893;
   cursor: not-allowed;
   opacity: 0.9;
}