/* Wrapper för hamburger-knappen */
.hamburgerWrapper {
  position: fixed;
  top: 8%;
  left: 47%;
  transform: translateX(180px); 
  z-index: 1002; 
}

.hamburgerBtn {
  font-size: 1.8rem;
  color: rgb(11, 82, 34);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1002;
}

/* Sidomeny */
.sidenav {
  position: fixed;
  top: 0;
  right: -250px; /*utanför skärmen*/
  width: 250px;
  height: 100vh;
  max-height: 100vh;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0,0,0,0.3);
  overflow: hidden;
  transition: right 0.3s ease;
  z-index: 1001;
}

.sidenav.open {
  right: 0; /* glider in från höger */
}

.menuContent {
  display: flex;
  flex-direction: column;
  height: 100%;   
  padding: 20px;
  padding-bottom:20%;
  overflow-y: auto;
}

.navLinks {
  margin-bottom: 200px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  font-size: x-large;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 1000; /* under sidomenyn men ovanför innehåll */
}
