html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* stoppa scroll */
}
h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

#root {
  max-width: 100%;
  padding: 2rem;
  height: calc(var(--vh) * 100);   /* mobilfix */
  overflow: auto;   /* scroll i appen, inte på body */
}

.error {
  color: red;
  font-weight: bold;
  font-size: larger;
}
.success {
  /* color: rgb(255, 0, 251); */
  font-weight: bold;
  font-size: larger;
}


.form-container {
  height: fit-content;
  max-width: 400px; 
  max-height: 100%;
  padding: 2rem;
  border: 1px solid #ccc; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-container h1, h2{
  text-align: center;
  margin: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;       
}

.form label {
  /* Gör label till ett block för att etikett och input ska staplas */
  display: flex;
  flex-direction: column; /* Gör att texten ("Användarnamn") och inputfältet staplas */
  gap: 0.3rem; /* Utrymme mellan etikettens text och inputfältet */
  font-weight: bold;
}

.form label p {
  font-size: smaller;
  margin: 0.2rem;
}

.form input {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0,5rem;
}

/* .btn {
  justify-self: center;
} */

form button[type="submit"] {
  padding: 1rem;
  background-color: #236d3e; 
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
  background-color: #0056b3;
}

form button[type="submit"]:disabled {
  background-color: #aab7af;
}

/*  css för Chat   */
.chat-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  overflow: hidden;
}

.messages {
  flex: 0.9;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.message {
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 65%;
}

.message.mine {
  background: #92de92; /* ljus blå */
}

.message.theirs {
  background: #f0f0e7;
  align-self: flex-start;
}
.message-row {
  display: flex;
  align-items: center;
  gap: 6px; lite luft mellan bubblan och knappen
}

.message-row.mine {
  justify-content: flex-end;
}

.message-row.theirs {
  justify-content: flex-start;
}

.message-input {
  display: flex;
  gap: 10px;
  padding: 10px;          /* Inre marginal */
  border-top: 1px solid #ccc; /* Avgränsning mot meddelanden */
  background: #f9f9f9;    Ljus bakgrund som står ut mot bubblor
  position: sticky;        /* Håller input längst ner vid scroll */
  bottom: 0;
  width: 100%;
  box-sizing: border-box;  /* Inkluderar padding i width */

}
.message-input input {
  flex: 1;                 /* Tar upp all ledig plats */
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;     /* Rundade hörn */
  /* outline: none; */
}

.message-input button {
  padding: 0 20px;
  border: none;
  border-radius: 8px;
  background-color: #236d3e; /* Matchar submit-knappen i formulär */
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.message-input button:hover {
  background-color: #1b5a30;
}
.delete-btn {
  margin-left: 6px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.6;
}

.delete-btn:hover {
  opacity: 1;
}
