html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: hidden; /* stoppa scroll */
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-top: 2rem; 
  box-sizing: border-box;
  height: calc(var(--vh) * 100);   /* mobilfix */
  overflow: auto;   /* scroll i appen, inte på body */
}

.error {
  color: red;
  font-weight: bold;
  margin: 1rem;
}
.success {
  /* color: rgb(255, 0, 251); */
  font-weight: bold;
  font-size: larger;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 90vh;           /* nästan hela höjden */
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  box-sizing: border-box;
}

.form-container h1, .form-container h2{
  text-align: center;
  margin: 1rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;       
}

.form label {
  
  display: flex;
  flex-direction: column; 
  gap: 0.3rem;
  font-weight: bold;
}

.form label p {
  font-size: smaller;
  margin: 0.2rem;
}

.form input {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
/*     width: 100%;
  box-sizing: border-box; */
}

form button[type="submit"] {
  padding: 1rem;
  background-color: #236d3e; 
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
  background-color: #0056b3;
}

form button[type="submit"]:disabled {
  background-color: #aab7af;
}

/*  css för Chat   */
.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  height: 90vh;  /* nästan full höjd */
  border: 1px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.chat-container h2{
  text-align: center;
}

.messages {
  flex: 1;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
}

.message {
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 70%;
}

.message.mine {
  background: #d3f7d3;
  align-self: flex-end;
}

.message.theirs {
  background: #eee;
  align-self: flex-start;
}

.message-row {
  display: flex;
  align-items: center;
  gap: 6px; 
}

.message-row.mine {
  justify-content: flex-end;
}

.message-row.theirs {
  justify-content: flex-start;
}

.message-input {
  display: flex;
  gap: 10px;
  padding: 10px;          
  border-top: 1px solid #ccc; 
  background: #f9f9f9;   
  position: sticky;        
  width: 100%;
  box-sizing: border-box;  /* Inkluderar padding i width */

}
.message-input input {
  flex: 1;                 /* Tar upp all ledig plats */
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;     
}

.message-input button {
  padding: 0 20px;
  border: none;
  border-radius: 8px;
  background-color: #236d3e;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.message-input button:hover {
  background-color: #1b5a30;
}
.delete-btn {
  margin-left: 6px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.6;
}

.delete-btn:hover {
  opacity: 1;
}

/* Responsiv text */
h1 { font-size: 2rem; }
h2 { font-size: 1.2rem; }
h3 { font-size: 1rem; }

@media (max-width: 500px) {
  .form-container, .chat-container {
    height: 95vh;
    padding: 1rem;
  }

  h1 { font-size: 1.5rem; }
  h2 { font-size: 1rem; }
}